
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-errors ul
{
    margin: 0;
    padding: 0 30px;
    line-height: 200%;
}

.validation-summary-valid
{
}