<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <!--MSSQL 数据库链接字符串-->
	  <add name="DBConn1" connectionString="Data Source=.;Initial Catalog=SZPSystem;Integrated Security=True;MultipleActiveResultSets=True"/>
    <!--Excel 数据库链接字符串-->
    <add name="DBConn5" connectionString="Provider=Microsoft.Ace.OleDb.12.0;data source=D:\\zpShan\\DB\\TextDB.xlsx;Extended Properties='Excel 12.0; IMEX={0}'"/>
  </connectionStrings>
  <appSettings>
    <!--MSSQL 数据库-->
    <add key="DBType" value="5"/>
  </appSettings>
	<location path="Images/Home/Login">
		<system.web>     
      <authorization>
				<allow users="*"/>        
			</authorization>
		</system.web>
	</location>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880" />-->
		<forms name="SZP" loginUrl="~/Views/Home/LoginOn.aspx" defaultUrl="~/Views/Home/Index.aspx" protection="All" timeout="200" />
    </authentication>
	  <authorization>
		  <deny users="?"/>
	  </authorization>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages >
      <namespaces>
        <add namespace="SZP.Web.UI"/>
        <add namespace="SZP.Entity"/>
        <add namespace="SZP.Core"/>
      </namespaces>
    </pages>
  </system.web>
  <!--<system.serviceModel>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WcfServiceLibrary1/Service1/" binding="wsHttpBinding" behaviorConfiguration="WSHttpBinding_IService1"
                 contract="WcfServiceLibrary1.Service1" name="WSHttpBinding_IService1">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>-->
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServiceInstance" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WcfServiceLibrary1/Service1/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceInstance"
        contract="ServiceReference1.IServiceInstance" name="WSHttpBinding_IServiceInstance">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
