<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="AEMallDBEntities" connectionString="metadata=res://*/AEMallDB.csdl|res://*/AEMallDB.ssdl|res://*/AEMallDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=AEMallDB;Persist Security Info=True;User ID=sa;Password=sasa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>