<div style="text-align: center; clear:both;">
    <input type="submit" value="保存" class="ui-state-default button_edit" />
    <input type="reset" value="重置" class="ui-state-default button_edit" />
</div>